<p id="notice"><%= notice %></p>

<h1>Lines</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Itinerary</th>
      <th>Company</th>
      <th>Terminal</th>
      <th>Map</th>
      <th>Kml filename</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lines.each do |line| %>
      <tr>
        <td><%= line.code %></td>
        <td><%= line.itinerary %></td>
        <td><%= line.company %></td>
        <td><%= line.terminal %></td>
        <td><%= line.map_id %></td>
        <td><%= line.kml_filename %></td>
        <td><%= link_to 'Show', line %></td>
        <td><%= link_to 'Edit', edit_line_path(line) %></td>
        <td><%= link_to 'Destroy', line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Line', new_line_path %>
