<div class="mkd-ls-single-header">
  <div class="mkd-ls-single-section-holder top">
    <div class="mkd-ls-single-section mkd-grid clearfix">
      <div class="mkd-ls-single-section-inner  left">

        <div class="mkd-ls-single-part-holder left">
          <div class="mkd-ls-item-image" style="background-image: url(http://lister.mikado-themes.com/wp-content/uploads/2017/03/h1-img-12-300x220.jpg)">
          </div>
        </div>

        <div class="mkd-ls-single-part-holder right">
          <div class="mkd-ls-single-part-inner top">
            <div class="mkd-ls-item-title">
              <h3 class="mkd-ls-item-title-inner"><%= @line.code %> | <%= @line.itinerary %></h3>
            </div>					</div>

          <div class="mkd-ls-single-part-inner bottom">
            <div itemprop="dateCreated" class="mkd-ls-header-info date  entry-date published updated">
              <a itemprop="url" href="http://lister.mikado-themes.com/2017/03/">
                <i class="fa fa-bus" aria-hidden="true"></i> <%= @line.company %></a>
            </div>	<div itemprop="ratingStars" class="mkd-ls-header-info rating-stars  entry-rating-stars published updated">
            <div class="mkd-listing-rating-holder">



              <div class="mkd-average-rating">
					<span>
						<i class="fa fa-building-o" aria-hidden="true"></i> <%= @line.terminal %></span>
              </div>

              <div class="mkd-listing-rating-stars-holder">
                <span class="mkd-rating-stars" style="width: 71.4%"></span>
              </div>

            </div>
          </div>


          </div>
        </div>

      </div>

      <div class="mkd-ls-single-section-inner  right">
        <button type="submit" style="background-color: #2c84cc;font-size: 16px" class="mkd-btn mkd-btn-huge mkd-btn-solid mkd-btn-fullwidth mkd-ls-single-contact-listing">    <span class="mkd-btn-text">        Contact This Business    </span>    </button>			</div>
    </div>
  </div>

  <div class="mkd-ls-single-section-holder bottom">
    <div class="mkd-ls-single-section mkd-grid clearfix">
      <div class="mkd-ls-single-section-inner left">



      </div>


    </div>
  </div>
</div>


<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @line.code %>
</p>

<p>
  <strong>Itinerary:</strong>
  <%= @line.itinerary %>
</p>

<p>
  <strong>Company:</strong>
  <%= @line.company %>
</p>

<p>
  <strong>Terminal:</strong>
  <%= @line.terminal %>
</p>

<p>
  <strong>Map:</strong>
  <%= @line.map_id %>
</p>

<p>
  <strong>Kml filename:</strong>
  <%= @line.kml_filename %>
</p>

<%= link_to 'Edit', edit_line_path(@line) %> |
<%= link_to 'Back', lines_path %>
